<template>
  <div>
    <Popin v-if="popin.display">
      <h2 class="m-t-0">Create shortcut</h2>
      <div v-if="popin.error" class="m-y-1 bg-secondary color-white border-rounded p-1 text-left">{{ popin.error }}</div>
      <form action="#" @submit.prevent="createNewApp" class="w-300 m-x-auto">
        <div class="form-text m-y-1 p-y-1">
          <label for="type">Type</label>
          <select id="type" v-model="popin.type">
            <option value="command">command</option>
          </select>
        </div>
        <div v-if="'command' === popin.type">
          <div class="form-text m-y-1 p-y-1">
            <label for="type">Command Type</label>
            <select id="type" v-model="popin.commandType">
              <option value="chromium-me">Chromium (Media Edition)</option>
              <option value="chromium">Chromium</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div v-if="[ 'chromium-me', 'chromium' ].includes(popin.commandType)" class="form-text m-y-1 p-y-1">
            <label for="opts">URL</label>
            <input type="text" id="opts" v-model="popin.opts">
          </div>
          <div v-else class="form-text m-y-1 p-y-1">
            <label for="opts">Command line</label>
            <input type="text" id="opts" v-model="popin.opts">
          </div>
        </div>
        <div class="form-text m-y-1 p-y-1">
          <label for="type">Icon type</label>
          <select id="type" v-model="popin.iconType">
            <option value="icon">icon</option>
            <option value="image">image</option>
          </select>
        </div>
        <div class="form-text m-y-1 p-y-1" v-if="'icon' === popin.iconType">
          <label for="iconOpt">Icon (material icon)</label>
          <input type="text" id="iconOpt" v-model="popin.icon">
        </div>
        <div class="form-text m-y-1 p-y-1" v-if="'image' === popin.iconType">
          <label for="iconOpt">Image address</label>
          <input type="text" id="iconOpt" v-model="popin.image">
        </div>
        <div class="m-y-1 p-y-1">
          <input type="checkbox" id="shared" v-model="popin.shared" />
          <label for="shared">Partager le raccourcis aux autres utilisateurs</label>
        </div>
        <ul class="fluid-grid grid-4">
          <li class="p-r-1">
            <input class="d-block w-full btn btn-secondary" type="button" value="Cancel" @click.prevent="popin.display = false">
          </li>
          <li>
            <input class="d-block w-full btn btn-primary" type="submit" value="Create">
          </li>
        </ul>
      </form>
    </Popin>
    <Popin v-if="castPopin.display">
      <h2 class="m-t-0">Cast</h2>
      <div v-if="castPopin.error" class="m-y-1 bg-secondary color-white border-rounded p-1 text-left">{{ castPopin.error }}</div>
      <form action="#" @submit.prevent="castWebsite" class="w-300 m-x-auto">
        <div class="form-text m-y-1 p-y-1">
          <label for="addr">URL</label>
          <input type="text" id="addr" v-model="castPopin.addr">
        </div>
        <ul class="fluid-grid grid-4">
          <li class="p-r-1">
            <input class="d-block w-full btn btn-secondary" type="button" value="Cancel" @click.prevent="castPopin.display = false">
          </li>
          <li>
            <input class="d-block w-full btn btn-primary" type="submit" value="Cast">
          </li>
        </ul>
      </form>
    </Popin>
    <div class="p-x-3 p-y-1">
      <ul class="fluid-grid w-fit m-x-auto">
        <li
          v-for="app in apps"
          :key="JSON.stringify(app)"
          class="w-80 h-80 p-1"
        >
          <button class="w-full h-full btn btn-primary" @click.prevent="exec(app)">
            <img v-if="'image' === app.iconType" height="40px" :src="app.image" />
            <span v-else-if="'text' === app.iconType">{{ app.icon }}</span>
            <span v-else-if="'icon' === app.iconType" class="material-icons">{{ app.icon }}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Popin from "@/components/Popin.vue"
import API from "../../app/Helper/API.js"

export default {
  name: 'AppList',
  data() {
    return {
      castPopin: {
        display: false,
        error: undefined,
        addr: undefined
      },
      popin: {
        display: false,
        error: undefined,
        type: undefined,
        commandType: undefined,
        opts: undefined,
        iconType: undefined,
        icon: undefined,
        image: undefined,
        shared: true
      }
    }
  },
  computed: {
    apps() {
      return [
        ...this.$store.state.apps,
        {
          type: 'function',
          iconType: 'icon',
          icon: 'add',
          fn: this.openPopinNewApp
        }
      ]
    }
  },
  methods: {
    sendExec(cmd) {
      API.fetchWebServer({
        path: '/api/v1/send',
        method: 'POST',
        body: {
          exec: cmd
        }
      }).then(() => {
        this.$router.push({ name: 'Remote' })
      }).catch(error => {
        console.log('Error:', error)
      })
    },
    exec(app) {
      if (app && app.type) {
        switch (app.type) {
          case 'function':
            app.fn()
            break

          case 'route':
            this.$router.push({ name: app.name })
            break

          case 'eval':
            eval(app.eval)
            break

          case 'command':
            this.sendExec(app.command)
            break
        }
      }
    },
    openPopinNewApp() {
      this.popin.display = true
    },
    async createNewApp() {
      this.popin.error = undefined

      const obj = {
        type: this.popin.type,
        iconType: this.popin.iconType,
        shared: this.popin.shared
      }

      switch (obj.type) {
        case 'command':
          switch (this.popin.commandType) {
            case 'chromium-me':
              obj.command = "chromium-browser %U --user-agent='Mozilla/5.0 (X11; CrOS armv7l 12371.89.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36' --profile-directory=Default --start-fullscreen --start-maximized --app=" + this.popin.opts
              break
            
            case 'chromium':
              obj.command = "chromium-browser --profile-directory=Default --start-fullscreen --start-maximized --app=" + this.popin.opts
              break
            
            case 'other':
              obj.command = this.popin.opts
              break
          }
          break
      }

      switch (obj.iconType) {
        case 'icon':
          obj.icon = this.popin.icon
          break
        
        case 'image':
          obj.image = this.popin.image
          break
      }

      try {
        const res = await API.fetchWebServer({
          path: '/api/v1/app',
          method: 'POST',
          body: obj
        })
        const json = await res.json()

        if (200 === res.status) {
          this.$store.commit('addApp', json.app)
          this.popin.display = false;
          this.popin.type = undefined;
          this.popin.commandType = undefined;
          this.popin.opts = undefined;
          this.popin.iconType = undefined;
          this.popin.icon = undefined;
          this.popin.image = undefined;
          this.popin.shared = true;
        } else {
          this.popin.error = json.error
        }
      } catch(error) {
        console.error(error)
      }
    },
    castWebsite() {
      this.castPopin.error = undefined
      this.sendExec("chromium-browser %U --user-agent='Mozilla/5.0 (X11; CrOS armv7l 12371.89.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36' --profile-directory=Default --start-fullscreen --start-maximized --app=" + this.castPopin.addr)
      this.castPopin.display = false
      this.castPopin.addr = undefined
    }
  },
  components: {
    Popin
  }
}
</script>

<style lang="scss" scoped>
  .btn .material-icons {
    font-size: 40px;
  }
</style>