<template>
  <div class="bg-dark w-350 p-x-1 p-t-2 p-b-5 text-center m-x-auto m-t-5">
    <h2>Hello</h2>
    <p>Log In to your account to easily control your node</p>
    <div v-if="error" class="m-y-1 bg-secondary color-white border-rounded p-1 text-left">{{ error }}</div>
    <form action="#" @submit.prevent="submit" class="w-300 m-x-auto">
      <div class="form-text m-y-1 p-y-1">
        <label for="username">Username</label>
        <input type="text" id="username" v-model="username">
      </div>
      <div class="form-text m-y-1 p-y-1">
        <label for="password">Password</label>
        <input type="password" id="password" v-model="password">
      </div>
      <div class="">
        <input class="d-block w-full btn btn-primary" type="submit" value="Log In">
      </div>
    </form>
  </div>
</template>

<script>
// @ is an alias to /src
import { hash } from '../../app/Helper/Crypto.js'

export default {
  // View name
  name: 'Home',

  // Datas definition
  data() {
    return {
      error: undefined,
      username: undefined,
      password: undefined
    }
  },

  // Vue lifecycle
  mounted() {
    this.$store.dispatch('autoLogIn').then(auth => {
      this.routeLogUser(auth)
    })
  },

  // Methods definition
  methods: {
    routeLogUser(auth) {
      if (auth) {
        if (auth.error) {
          this.error = auth.error
        }
        else if (auth.authenticate) {
          if (auth.firstConnexion) {
            this.$router.push({ name: 'UserManagement' })
          } else {
            this.$router.push({ name: 'Remote' })
          }
        }
      }
    },
    async submit() {
      const credential = {
        username: this.username,
        password: hash(this.password)
      }
      
      this.routeLogUser(await this.$store.dispatch('authenticate', credential))
    }
  }
}
</script>
