<template>
  <div class="p-1">
    <form class="m-1 form-text" autocomplete="off">
      <input
        class="w-full"
        style="opacity: .5"
        type="text"
        ref="content"
        v-model="content"
      />
    </form>
    <div class="overflow-hidden">
      <button
        v-for="(activated, touch) in touchActivable"
        :key="touch.toLowerCase ? touch.toLowerCase() : 'none'"
        :class="[ 'btn', 'm-1', 'btn-primary', activated ? 'active' : '' ]"
        @click.prevent="activate(touch)"
      >
        {{ touch }}
      </button>
      <div class="float-right">
        <button
            v-for="(val, touch) in touchClickable"
            :key="touch.toLowerCase ? touch.toLowerCase() : 'none'"
            class="m-1 btn btn-danger"
            @click="sendTouch(val)"
          >
            {{ touch }}
          </button>
      </div>
    </div>
    <div v-if="touchActivable.Fn" class="m-y-1">
      <ul class="fluid-grid grid-1">
        <li
          v-for="touch in 12"
          :key="'fn-' + touch"
        >
          <button
            class="w-full btn btn-secondary"
            @click="sendTouch('f' + touch)"
          >
            {{ touch }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import API from '../../app/Helper/API.js'

export default {
  name: 'Keyboard',
  data() {
    return {
      content: undefined,
      touchActivable: {
        Ctrl: false,
        Shift: false,
        Fn: false,
        Command: false,
        Alt: false
      },
      touchClickable: {
        Back: 'backspace',
        Del: 'delete'
      }
    }
  },
  mounted() {
    this.$refs.content.focus()
  },
  computed: {
    activatedTouch() {
      return Object
              .keys(this.touchActivable)
              .filter(touch => this.touchActivable[touch] && touch !== "Fn")
              .map(touch => touch.toLowerCase())
    }
  },
  watch: {
    content(value) {
      if (value) {
        this.sendTouch(value)
      }
    }
  },
  methods: {
    activate(touch) {
      this.touchActivable[touch] = !this.touchActivable[touch]
      this.$refs.content.focus()
    },
    sendTouch(key) {
      let touch = {
        label: key
      }

      if (this.activatedTouch && this.activatedTouch.length > 0) {
        touch.combo = this.activatedTouch
      }

      API.fetchWebServer({
        path: '/api/v1/send',
        method: 'POST',
        body: touch
      }).catch(error => {
        console.error(error)
      })

      this.content = undefined
    }
  }
}
</script>