<template>
  <div class="p-x-1 p-y-2">
    <Popin v-if="popinDisplayed">
      <div>
        <button class="d-block w-full m-y-1 btn btn-primary" @click="sendExec('echo \'on 0\' | cec-client -s -d 1')">Screen On</button>
        <button class="d-block w-full m-y-1 btn btn-primary" @click="sendExec('echo \'standby 0\' | cec-client -s -d 1')">Screen Off</button>
        <button class="d-block w-full m-y-1 btn btn-danger" @click="sendExec('shutdown')">Shutdown</button>
        <button class="d-block w-full m-y-1 btn btn-danger" @click="sendExec('reboot')">Reboot</button>
        <button class="d-block w-full m-y-1 btn btn-secondary" @click="popinDisplayed = false">Cancel</button>
      </div>
    </Popin>
    <div class="overflow-hidden">
      <button class="float-right btn btn-danger" @click="popinDisplayed = true">
        <span class="material-icons">power_settings_new</span>
      </button>
    </div>
    <div class="bg-dark border-rounded p-x-2 p-y-3 m-y-1" v-if="general">
      <h2 class="m-t-0">General</h2>
      <table class="stylized">
        <tr>
          <td>Hostname</td>
          <td>{{ general.hostname }}</td>
        </tr>
        <tr>
          <td>Uptime</td>
          <td>{{ uptime }}</td>
        </tr>
        <tr>
          <td>Arch</td>
          <td>{{ general.arch }}</td>
        </tr>
        <tr>
          <td>Platform</td>
          <td>{{ general.platform }}</td>
        </tr>
        <tr>
          <td>Release</td>
          <td>{{ general.release }}</td>
        </tr>
      </table>
    </div>
    <div class="bg-dark border-rounded p-x-2 p-y-3" v-if="networks">
      <h2 class="m-t-0">Networks</h2>
      <div
        v-for="(inter, name) in networks"
        :key="name"
      >
        <h3>{{ name }}</h3>
        <div
          v-for="network in inter"
          :key="name + '-' + network.address"
        >
          <table class="stylized w-full m-y-1">
            <tr>
              <td class="w-100">Family</td>
              <td>{{ network.family }}</td>
            </tr>
            <tr>
              <td class="w-100">Addr</td>
              <td>{{ network.address }}</td>
            </tr>
            <tr>
              <td class="w-100">MAC</td>
              <td>{{ network.mac }}</td>
            </tr>
            <tr>
              <td class="w-100">Netmask</td>
              <td>{{ network.netmask }}</td>
            </tr>
            <tr>
              <td class="w-100">Internal</td>
              <td>{{ network.internal ? "Yes" : "No" }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Popin from '@/components/Popin.vue'
import API from "../../app/Helper/API.js"

export default {
  name: 'NodeInfo',
  data() {
    return {
      popinDisplayed: false,
      general: undefined,
      cpus: undefined,
      memory: undefined,
      networks: undefined
    }
  },
  created() {
    this.getNodeInfo()
  },
  computed: {
    uptime() {
      if (this.general && this.general.uptime) {
        let years = Math.floor(this.general.uptime / 31536000);
        let days = Math.floor((this.general.uptime % 31536000) / 86400); 
        let hours = Math.floor(((this.general.uptime % 31536000) % 86400) / 3600);
        let minutes = Math.floor((((this.general.uptime % 31536000) % 86400) % 3600) / 60);
        let seconds = (((this.general.uptime % 31536000) % 86400) % 3600) % 60;
  
        return (years ? years + " années " : "") +  (days ? days + " jours " : "") + (hours ? hours + " heures " : "") + (minutes ? minutes + " minutes " : "") + seconds + " secondes";
      }

      return ''
    }
  },
  methods: {
    sendExec(cmd) {
      API.fetchWebServer({
        path: '/api/v1/send',
        method: 'POST',
        body: {
          exec: cmd
        }
      }).catch(error => {
        console.error(error)
      })
    },
    getNodeInfo() {
      API.fetchWebServer({
        path: '/api/v1/os'
      }).then(res => {
        if (200 === res.status) {
          res.json().then(json => {
            if (json.data.general) {
              this.$set(this, 'general', json.data.general)
            }
            if (json.data.mem) {
              this.$set(this, 'memory', json.data.mem)
            }
            if (json.data.network && json.data.network.interfaces) {
              this.$set(this, 'networks', json.data.network.interfaces)
            }
            if (json.data.cpus) {
              this.$set(this, 'cpus', json.data.cpus)
            }
          })
        } else {
          console.error('Error during retrieve node information')
        }
      }).catch(error => {
        console.log('Error:', error)
      })
    }
  },
  components: {
    Popin
  }
}
</script>
