<template>
  <div class="remote">
    <div class="touch p-y-1">
      <ul class="grid h-full">
        <li
          v-for="btn in remote"
          :key="btn.type + '-' + (btn.label || btn.name)"
          :class="`x-start-${btn.coords.start.x} y-start-${btn.coords.start.y} x-end-${btn.coords.end.x} y-end-${btn.coords.end.y} p-1`"
        >
          <button
            v-if="'label' === btn.type"
            :class="'w-full h-full btn' + (btn.color ? ' btn-' + btn.color : '')"
            @click="sendKeyLabelized(btn.label)"
            v-html="btn.text"
          ></button>
          <button
            v-else-if="'route' === btn.type"
            :class="'w-full h-full btn' + (btn.color ? ' btn-' + btn.color : '')"
            @click.prevent="$router.push({ name: btn.name })"
            v-html="btn.text"
          ></button>
        </li>
      </ul>
    </div>
    <div class="touchpad p-1">
      <div
        class="bg-primary border-rounded w-full h-full"
        @mousemove="touch"
        @mouseleave="touch"
        @mouseout="touch"
        @mouseup="touch"
        @touchstart="touch"
        @touchend="touch"
        @touchcancel="touch"
        @touchmove="touch"
        @click="sendMouseBtn('click')"
        @dbclick="sendMouseBtn('double_click')"
      ></div>
    </div>
  </div>
</template>

<script>
import API from '../../app/Helper/API.js'

export default {
  name: 'Remote',
  data() {
    return {
      last: undefined,
      remote: [
        {
          coords: {
            start: { x: 1, y: 1 },
            end: { x: 2, y: 2 }
          },
          type: 'label',
          label: 'rewind',
          text: '<span class="material-icons">fast_rewind</span>'
        },
        {
          coords: {
            start: { x: 2, y: 1 },
            end: { x: 3, y: 2 }
          },
          type: 'label',
          label: 'play',
          text: '<span class="material-icons">play_arrow</span>'
        },
        {
          coords: {
            start: { x: 3, y: 1 },
            end: { x: 4, y: 2 }
          },
          type: 'label',
          label: 'pause',
          text: '<span class="material-icons">pause</span>'
        },
        {
          coords: {
            start: { x: 4, y: 1 },
            end: { x: 5, y: 2 }
          },
          type: 'label',
          label: 'forward',
          text: '<span class="material-icons">fast_forward</span>'
        },
        {
          coords: {
            start: { x: 1, y: 2 },
            end: { x: 2, y: 3 }
          },
          color: 'secondary',
          type: 'label',
          label: 'lights_mon_up',
          text: '<span class="material-icons">brightness_5</span>'
        },
        {
          coords: {
            start: { x: 2, y: 2 },
            end: { x: 4, y: 3 }
          },
          color: 'primary',
          type: 'label',
          label: 'up',
          text: '⇧'
        },
        {
          coords: {
            start: { x: 4, y: 2 },
            end: { x: 5, y: 3 }
          },
          color: 'secondary',
          type: 'label',
          label: 'vol_up',
          text: '+'
        },
        {
          coords: {
            start: { x: 1, y: 3 },
            end: { x: 2, y: 5 }
          },
          color: 'primary',
          type: 'label',
          label: 'left',
          text: '⇦'
        },
        {
          coords: {
            start: { x: 2, y: 3 },
            end: { x: 4, y: 5 }
          },
          color: 'primary',
          type: 'label',
          label: 'enter',
          text: '↩'
        },
        {
          coords: {
            start: { x: 4, y: 3 },
            end: { x: 5, y: 5 }
          },
          color: 'primary',
          type: 'label',
          label: 'right',
          text: '⇨'
        },
        {
          coords: {
            start: { x: 1, y: 5 },
            end: { x: 2, y: 6 }
          },
          color: 'secondary',
          type: 'label',
          label: 'lights_mon_down',
          text: '<span class="material-icons">brightness_1</span>'
        },
        {
          coords: {
            start: { x: 2, y: 5 },
            end: { x: 4, y: 6 }
          },
          color: 'primary',
          type: 'label',
          label: 'down',
          text: '⇩'
        },
        {
          coords: {
            start: { x: 4, y: 5 },
            end: { x: 5, y: 6 }
          },
          color: 'secondary',
          type: 'label',
          label: 'vol_down',
          text: '-'
        },
        {
          coords: {
            start: { x: 1, y: 6 },
            end: { x: 2, y: 7 }
          },
          color: 'danger',
          type: 'label',
          label: 'win_close',
          text: 'x'
        },
        {
          coords: {
            start: { x: 2, y: 6 },
            end: { x: 3, y: 7 }
          },
          type: 'route',
          name: 'AppList',
          text: 'Fn'
        },
        {
          coords: {
            start: { x: 3, y: 6 },
            end: { x: 4, y: 7 }
          },
          color: 'secondary',
          type: 'label',
          label: 'backward',
          text: '<span class="material-icons">undo</span>'
        },
        {
          coords: {
            start: { x: 4, y: 6 },
            end: { x: 5, y: 7 }
          },
          color: 'success',
          type: 'label',
          label: 'command',
          text: '☰'
        }
      ]
    }
  },
  methods: {
    send(data) {
      API.fetchWebServer({
        path: '/api/v1/send',
        method: 'POST',
        body: data
      }).catch(error => {
        console.error(error)
      })
    },
    sendKeyLabelized(label) {
      this.send({
        label: label
      })
    },
    sendMouseBtn(label) {
      this.send({
        mouse: label
      })
    },
    touch(event) {
      let position = {}
      // Mouse move
      if (event.constructor.name.includes('Mouse')) {
        position.x = event.x
        position.y = event.y
      }
      // One finger move
      else if (event.constructor.name.includes('Touch') && event.touches.length === 1) {
        position.x = event.touches[0].pageX
        position.y = event.touches[0].pageY
      }

      if (position.x >= 0 && position.y >= 0) {
        if (this.last) {
          const move = {
            x: position.x - this.last.x,
            y: position.y - this.last.y
          }

          this.send({
            mouse: 'move',
            move: move
          })
        }

        this.last = position
      }

      if ([ 'touchend', 'touchcancel', 'mouseleave', 'mouseout', 'mouseup' ].indexOf(event.type) >= 0) {
        this.last = undefined
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  max-width: 400px;
  max-height: 500px;
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 0;

  @for $i from 1 to 7 {
    & > .x-start-#{$i} { grid-column-start: $i; }
    & > .y-start-#{$i} { grid-row-start: $i; }
    & > .x-end-#{$i} { grid-column-end: $i; }
    & > .y-end-#{$i} { grid-row-end: $i; }
  }
}

.remote {
  height: 100%;

  & > .touch {
    height: 55%;
  }

  & > .touchpad {
    height: 45%;
  }
}

@media (min-width: 800px) {
  .remote {
    overflow: hidden;

    & > * {
      float: left;
    }

    & > .touch {
      width: 50%;
      height: 100%;
    }

    & > .touchpad {
      width: 50%;
      height: 100%;
    }
  }
}
</style>
