<template>
  <div class="p-x-1 p-y-2">
    <Popin v-if="newUser.display">
      <h2 class="m-t-0">Create user</h2>
      <div v-if="newUser.error" class="m-y-1 bg-secondary color-white border-rounded p-1 text-left">{{ newUser.error }}</div>
      <form action="#" @submit.prevent="createUser" class="w-300 m-x-auto">
        <div class="form-text m-y-1 p-y-1">
          <label for="username">Username</label>
          <input type="text" id="username" v-model="newUser.username">
        </div>
        <div class="form-text m-y-1 p-y-1">
          <label for="role">Role</label>
          <select id="role" v-model="newUser.role">
            <option value="admin">admin</option>
            <option value="normal">normal</option>
          </select>
        </div>
        <ul class="fluid-grid grid-4">
          <li class="p-r-1">
            <input class="d-block w-full btn btn-secondary" type="button" value="Cancel" @click.prevent="newUser.display = false">
          </li>
          <li>
            <input class="d-block w-full btn btn-primary" type="submit" value="Create">
          </li>
        </ul>
      </form>
    </Popin>
    <div class="bg-dark border-rounded p-x-2 p-y-3 m-y-1">
      <button class="float-right btn btn-danger" @click="logOut">
        <span class="material-icons">logout</span>
      </button>
      <h4 class="m-t-0">Hi {{ $store.state.username }}</h4>
      <p>You can update your password</p>
      <div v-if="error" class="m-y-1 bg-secondary color-white border-rounded p-1 text-left">{{ error }}</div>
      <div v-if="success" class="m-y-1 bg-success color-white border-rounded p-1 text-left">Password updated!</div>
      <form action="#" @submit.prevent="submit" class="w-300">
        <div class="form-text m-y-1 p-y-1">
          <label for="password">New password</label>
          <input type="password" id="password" v-model="password">
        </div>
        <div class="form-text m-y-1 p-y-1">
          <label for="confirm">Confirm</label>
          <input type="password" id="confirm" v-model="confirm">
        </div>
        <div class="">
          <input class="d-block w-full btn btn-primary" type="submit" value="Update">
        </div>
      </form>
    </div>
    <div class="bg-dark border-rounded p-x-2 p-y-3 m-y-1" v-if="'admin' === $store.state.role && $store.state.users">
      <div class="overflow-hidden">
        <button class="float-right btn btn-secondary" @click.prevent="newUser.display = true">Create user</button>
      </div>
      <table class="w-full m-t-3">
        <tr>
          <th class="text-left">Username</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
        <tr
          v-for="user in $store.state.users"
          :key="user.username"
        >
          <td>{{ user.username }}</td>
          <td class="text-center w-100">{{ user.role }}</td>
          <td class="text-center">
            <button class="btn btn-primary m-1">
              <span class="material-icons">manage_accounts</span>
            </button>
            <button class="btn btn-danger m-1">
              <span class="material-icons">block</span>
            </button>
            <button class="btn btn-danger m-1">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Popin from '@/components/Popin.vue'
import { hash } from '../../app/Helper/Crypto.js'
import API from "../../app/Helper/API.js"

export default {
  name: 'UserManagement',
  data() {
    return {
      success: undefined,
      error: this.$store.state.firstConnexion ? "It's your first time we strongly recommand to update the default password" : undefined,
      password: undefined,
      confirm: undefined,
      newUser: {
        display: false,
        error: undefined,
        username: undefined,
        role: 'normal'
      }
    }
  },
  methods: {
    async submit() {
      if (this.password != this.confirm) {
        this.error = "Password and confirmation must be the same"
        return
      }

      const user = JSON.parse(window.sessionStorage.getItem('user'))
      this.success = undefined
      this.error = undefined

      try {
        const res = await API.fetchWebServer({
          path: '/api/v1/update-password',
          method: 'POST',
          body: {
            username: user.username,
            password: user.password,
            newPassword: hash(this.password)
          }
        })

        if (200 === res.status) {
          await this.$store.dispatch('authenticate', {
            username: user.username,
            password: hash(this.password)
          })
          this.success = true
        } else {
          this.error = 'Error during password updation'
        }
      } catch(error) {
        console.error(error)
      }
    },
    async createUser() {
      const user = {
        username: this.newUser.username,
        role: this.newUser.role
      }

      this.newUser.error = undefined

      try {
        const res = await API.fetchWebServer({
          path: '/api/v1/user',
          method: 'POST',
          body: JSON.stringify(user)
        })
        const json = await res.json()

        if (200 === res.status) {
          this.$store.commit('addUser', json.user)
          this.newUser.display = false
          this.newUser.username = undefined
          this.newUser.role = 'normal'
        } else {
          this.newUser.error = json.error
        }
      } catch(error) {
        console.error(error)
      }
    },
    async logOut() {
      await this.$store.dispatch('logOut')
      this.$router.push({ name: 'Home' })
    }
  },
  components: {
    Popin
  }
}
</script>
