<template>
  <div class="popin p-1">
    <div class="bg-dark border-rounded p-x-1 p-y-2 w-400 m-x-auto m-y-3">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Popin'
}
</script>

<style lang="scss" scoped>
.popin {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0, 0, 0, .7);
  overflow: auto;
}
</style>