<template>
  <div id="app">
    <div v-if="[ 'Home', 'Remote' ].indexOf($route.name) < 0" id="nav">
      <span href="#" class="material-icons" @click.prevent="$router.back()">keyboard_backspace</span>
      <span href="#" class="float-right material-icons" @click.prevent="$router.push({ name: 'Remote' })">settings_remote</span>
    </div>
    <router-view :class="{ 'container-marged': [ 'Home', 'Remote' ].indexOf($route.name) < 0 }" />
  </div>
</template>

<style lang="scss">
@import "scss/_variables.scss";
@import "scss/common.scss";
@import "scss/table.scss";
@import "scss/grid.scss";
@import "scss/button.scss";
@import "scss/form.scss";
@import "scss/app.scss";

$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';
</style>
