@use "sass:map";

$color-default: rgb(183, 183, 201);
$color-dark: rgb(32, 32, 36);
$color-darker: rgb(20, 20, 20);
$color-danger: #c62828;
$color-success: #4caf50;
$color-primary: $color-dark;
$color-secondary: complement($color-primary);
$body-background: rgb(42, 42, 46);

$theme-colors: (
  "white": white,
  "black": black,
  "dark": $color-dark,
  "darker": $color-darker,
  "danger": $color-danger,
  "success": $color-success,
  "default": $color-default,
  "primary": $color-darker,
  "secondary": $color-secondary
);

$default-size: 16px;
$text-bold: 600;
$text-bolder: bolder;

$default-radius: 4px;

$margin-gap: ( 0: 0, 1: .5em, 2: 1em, 3: 1.5em, 4: 2em, 5: 3em, "auto": auto );
$block-sizes: ( 50: 50px, 80: 80px, 100: 100px, 300: 300px, 350: 350px, 400: 400px, "full": 100%, "fit": fit-content );

$nb-column: 12;
$base-width: 100% / $nb-column;
$grid-skeleton: ();
@for $i from 1 to $nb-column {
  $grid-skeleton: map.set($grid-skeleton, $i, $i * $base-width);
}