* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: $body-background;
  margin: 0;
  padding: 0;
  font-size: $default-size;
  overscroll-behavior: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-default;
  height: 100%;
  overflow: auto;

  & > .container-marged {
    margin-top: 74px;
  }
}

#nav {
  background: $color-dark;
  padding: 1em;
  user-select: none;
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  color: $color-default;
  
  .material-icons {
    color: $color-default;
    font-size: 36px;
  }
}