@use "sass:map";

$color: map.get($theme-colors, "default");

.btn {
  font-size: 1.2em;
  text-align: center;
  font-weight: $text-bolder;
  border-radius: $default-radius;
  padding: .5em;
  background-color: $color;
  border: 2px solid $color;
  outline: none;
  cursor: pointer;
  user-select: none;

  &:active, &.active {
    @if ((red($color) + green($color) + blue($color)) / 3 > 160) {
      background-color: darken($color, 10%);
    } @else {
      background-color: lighten($color, 10%);
    }
  }

  @if ((red($color) + green($color) + blue($color)) / 3 > 160) {
    color: darken($color, 50%);
  } @else {
    color: lighten($color, 50%);
  }
}

@each $name, $color in $theme-colors {
  .btn-#{$name} {
    background-color: $color;
    border-color: $color;

    @if ((red($color) + green($color) + blue($color)) / 3 > 160) {
      color: darken($color, 50%);
    } @else {
      color: lighten($color, 50%);
    }

    &:active, &.active {
      @if ((red($color) + green($color) + blue($color)) / 3 > 160) {
        background-color: darken($color, 15%);
        border-color: darken($color, 15%);
      } @else {
        background-color: lighten($color, 15%);
        border-color: lighten($color, 15%);
      }
    }
  }
}