
@each $name, $color in $theme-colors {
  .bg-#{$name} {
    background: $color;
  }
}

@each $name, $color in $theme-colors {
  .color-#{$name} {
    color: $color;
  }
}

.overflow-hidden { overflow: hidden; }

.border-rounded { border-radius: $default-radius; }
.border-round { border-radius: 100%; }

.float-right { float: right; }

.d-block { display: block; }
.d-inline-block { display: inline-block; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

@each $name, $value in $block-sizes {
  .w-#{$name} { width: $value; }
  .h-#{$name} { height: $value; }
}

@each $name, $size in $margin-gap {
  .m-#{$name} { margin: $size; }
  .m-t-#{$name} { margin-top: $size; }
  .m-r-#{$name} { margin-right: $size; }
  .m-b-#{$name} { margin-bottom: $size; }
  .m-l-#{$name} { margin-left: $size; }
  .m-x-#{$name} {
    margin-left: $size;
    margin-right: $size;
  }
  .m-y-#{$name} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .p-#{$name} { padding: $size; }
  .p-t-#{$name} { padding-top: $size; }
  .p-r-#{$name} { padding-right: $size; }
  .p-b-#{$name} { padding-bottom: $size; }
  .p-l-#{$name} { padding-left: $size; }
  .p-x-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }
  .p-y-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
}
