@use "sass:map";

$color: map.get($theme-colors, "primary");

.form-text {
  & > label {
    display: block;
    font-weight: $text-bold;
    text-align: left;
  }

  & > input,
  & > select {
    display: block;
    border: 2px solid $color;
    background: lighten($color, 35%);
    font-size: 1.2em;
    border-radius: $default-radius;
    padding: .5em;
    width: 100%;
  }
}