
.fluid-grid {
  display: block;
  list-style: none;
  padding: 0;
  font-size: 0;
  overflow: hidden;

  & > * {
    display: block;
    font-size: $default-size;
    float: left;
  }

  @each $name, $width in $grid-skeleton {
    &.grid-#{$name} > * {
      width: $width;
    }
  }
}
